* {
  margin: 0;
  padding: 0;
}
:root {
    --color1:#EFECE3;
    --color2:#8FABD4;
    --color3:#4A70A9;
    --Black:#000000;
}
.card {
  border: 1px solid red;
  width: 400px;
  padding: 50px;
}
nav > ul {
  list-style: none;
}
.container {
  background-color: var(--color3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.links a {
  color: #000000;
  text-decoration: none;
}
body {
  background-color: grey;
}
.hero {
  text-align: center;
  background: url("https://i.pinimg.com/736x/95/49/8e/95498ec1dc60516fbfbda38162b31c0e.jpg");
  padding: 100px 200px;
  background-position: center;
  height: 20vh;
}
.hero-text {
  display: flex;
  flex-direction: column;
}
.hero-text h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #efece3;
}
.hero-text h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.button {
  /* border: 1px solid #000000; */
  width: 150px;
  background-color: lightgray;
  padding: 15px;
  align-self: center;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px lightslategray;
}
.button a {
  text-decoration: none;
  color: dodgerblue;
  font-size: 17px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card-container {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.cards {
  width: 200px;
  height: 100px;
  background-color: darkblue;
  margin: 10px;
  display: flex;
  align-items: center;
  color:white;
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: space-around;
}
.platforms {
    font-family:'Courier New', Courier, monospace
}